<rtt-header-nav class="up-menu" *ngIf="isMobile"></rtt-header-nav>
<div class="container">
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="handleScroll()"
  >
    <div [ngClass]="getClassBox()"> 
      <a
        (click)="handleNewsClick(item.id, null)"
        (mousedown)="handleNewsClick(item.id, $event)"
        (contextmenu)="$event.preventDefault()"
        *ngFor="let item of newsList | async; let i = index"
        [ngClass]="getClass(i)"
        queryParamsHandling="merge"
        routerLink="single/{{ item.id }}"
      >
      
        <rtt-news-dashboard-item
          [isBig]="getIsBig(i)"
          [design]="design"
          [title]="item.title"
          [bgcolor]="getStyle(i)"
          class="news-dashboard-item"
          [imgSource]="environment.api.serverAssets(getImageDin(item, i))"
          (shown)="handleShown(item.id)"
        >
        
        </rtt-news-dashboard-item>
      </a>
    </div>
  </div>
</div>
