<rtt-header-nav></rtt-header-nav>
<div class="container">
  <div class="row justify-content-center"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolled)="handleScroll()"
  >
    <a
      (click)="handleNewsClick(item.id, null)"
      (mousedown)="handleNewsClick(item.id, $event)"
      (contextmenu)="$event.preventDefault()"
       *ngFor="let item of (newsList | async); let i =index"
       [ngClass]="getClass(i)"
       queryParamsHandling="merge"
       routerLink="single/{{item.id}}">
      <rtt-news-dashboard-item
        [title]="item.title"
        [imgSource]="environment.api.serverAssets(getImage(item, i))"
        (shown)="handleShown(item.id)"
      >
      </rtt-news-dashboard-item>
    </a>
  </div>
</div>

