<div [ngSwitch]="design">
  <ng-template ngSwitchCase="2">
    <rtt-news-dashboard-design-din></rtt-news-dashboard-design-din>
  </ng-template>
  <ng-template ngSwitchDefault>
    <rtt-news-dashboard-design-original></rtt-news-dashboard-design-original>
  </ng-template>
</div>


